.guide-grid {
    border-style: solid;
    border-width: thin;
    border-color: black;
    display: block;
}

.guide-grid-item {
    border-style: solid;
    border-width: thin;
    border-color: black;
    display: inline-block;
    width: 30%;
    height: 100px;
    margin: 0 5 20 0;
    vertical-align: top;
    padding: 5px;
}
