{{ define "title" }}Couchbase Labs {{ .Section }} &ndash; {{ .Title }}{{ end }}

{{ define "main" }}
{{ $tags := .Params.tags }}
{{ $categories := .Params.categories }}
<h1>{{ .Title }}</h1>
{{ with $tags }}
<h2>Tags</h2>
<ul>
  {{ range $tags }}
  <li><a href="/tags/{{ . }}">{{ . }}</a></li>
  {{ end }}
</ul>
{{ end }}
{{ with $categories }}
<h2>Categories</h2>
<ul>
  {{ range $categories }}
  <li><a href="/categories/{{ . }}">{{ . }}</a></li>
  {{ end }}
</ul>
{{ end }}
<hr />
{{ .Content }}
{{ end }}
